BODY
{
	font-family: helvetica;
	margin: 24px;
	font-size: 14px;
}	
	
.playlistTable
{
	width: 244px;
	border-collapse: collapse;
}	

A
{
	color: black;
	text-decoration: none;
}

TD
{
	border-bottom: 1px solid #ccc;
}

.row
{
font-size: 14px;
line-height: 24px;
width: 100%;
}

.quality
{
	text-align: right;
}

.red
{
	color: red;
}

.blue
{
	color: blue;
}

.total
{
	background-color: #efefef;
	font-size: 14px;
	line-height: 24px;
}

#header
{
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 30px;
	font-size: 18px;
}









BODY
{
	font-family: helvetica;
	margin: 24px;
	font-size: 14px;
}	
	
.playlistTable
{
	width: 244px;
	border-collapse: collapse;
}	

A
{
	color: black;
	text-decoration: none;
}


TD
{
	border-bottom: 1px solid #ccc;
}

.row
{
font-size: 14px;
line-height: 24px;
width: 100%;
}

.quality
{
	text-align: right;
}

.red
{
	color: red;
}

.blue
{
	color: blue;
}

.total
{
	background-color: #efefef;
	font-size: 14px;
	line-height: 24px;
}

#header
{
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 30px;
	font-size: 18px;
}
